.drinkList {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-bottom: 8em;
}

.drinkCard {
  position: relative;
  background-color: rgba(239, 226, 220, 0.6);
  display: flex;
  padding: 4rem 3rem;
  border-radius: 30px;
  gap: 5rem;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.15));
  align-items: center;
}

.typewriter {
  font-size: 24px;
  font-weight: bold;
}

.drinkCardIngredientList {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  border-top: 1px solid #464646;
}

.drinkCard img {
  border-radius: 50%;
  width: 350px;
  align-self: center;
}

.drinkCardRow {
  display: flex;
  border-bottom: 1px solid #464646;
  justify-content: space-between;
  padding: 12px;
}

.drinkCardName {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
}

.drinkCard li {
  margin: 1rem 0;
}

.drinkCardInfo {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}

.drinkButton {
  align-self: flex-end;
  position: absolute;
  bottom: 2em;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  transition: 0.2s;
  cursor: pointer;
  padding-right: 0.5rem;
  color: var(--primary-color);
}

.drinkButton:hover {
  gap: 0.8rem;
  padding-right: 0;
}

.vpDataList{
  margin-top: 2em;
  text-align: left;

}

.vpDataList h2{
  font-size: larger;
  font-weight: 650;
  margin-bottom: .25em;
}

.vpDataList a{
    color: rgb(22, 66, 136);
  text-decoration: underline;
  
}