.main {
    display: flex;
    flex-direction: column;
}

.threeModel {
    margin-right: -4em;
    margin-bottom: -12em;
    margin-left: auto;
    width: 600px;
    height: 1800px;
    margin-top: 12em;
}

.welcomeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    --size: 50px;
    --p: 25px;
    --R: 55.9px /*sqrt(var(--size)*var(--size) + var(--p)*var(--p))*/;

    height: 110vh;

    -webkit-mask:
            radial-gradient(var(--R) at 50% calc(100% - (var(--size) + var(--p))),var(--secondary-gradient-color) 99%,#0000 101%) calc(50% - 2*var(--size)) 0/calc(4*var(--size)) 100%,
            radial-gradient(var(--R) at 50% calc(100% + var(--p)),#0000 99%,var(--secondary-color) 101%) 50% calc(100% - var(--size))/calc(4*var(--size)) 100% repeat-x;
    background:linear-gradient(90deg,var(--secondary-color),var(--secondary-gradient-color));
    border: none;
}

.leaves {
    position: absolute;
    width: 100%;
    height: 112%;
    pointer-events: none;
}

.ideasContainer {
    display: flex;
    flex-direction: row;
    margin-top: -15em;
    align-items: center;
}

.typewriter {
    font-size: 56px;
    font-weight: bold;
}

.ingredientsContainer {
    height: 80vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ingredientsInnerContainer {
    background:linear-gradient(90deg,var(--secondary-color),var(--secondary-gradient-color));
    padding: 2em;
    border-radius: 1em;
    margin-top: 1em;
}

.recipesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 250px;

    --size: 50px;
    --p: 25px;
    --R: 55.9px /*sqrt(var(--size)*var(--size) + var(--p)*var(--p))*/;

    min-height: 100vh;

    -webkit-mask:
            radial-gradient(var(--R) at 50% calc(var(--size) + var(--p)),var(--secondary-gradient-color) 99%,#0000 101%) calc(50% - 2*var(--size)) 0/calc(4*var(--size)) 100%,
            radial-gradient(var(--R) at 50% calc(-1*var(--p)),#0000 99%,var(--secondary-color) 101%) 50% var(--size)/calc(4*var(--size)) 100% repeat-x;
    background:linear-gradient(90deg,var(--secondary-color),var(--secondary-gradient-color));
    border: none;
}

.recipesContainer h1 {
  margin: 0 0 5rem 0;
}

.downButton {
  cursor: pointer;
  position: fixed;
  bottom: 1em;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
